<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top ">
  <a class="text-warning" href="<%= companies_path %>">Compañias&Reclamos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if user_signed_in? %>
            <%= current_user.email %>
            <% else %>
            Ingreso
          <% end %>
        </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
          <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="DELETE" >Salir</a>

          <% else %>
            <a class="dropdown-item text-warning" href="<%= new_user_session_path %>">Ingreso</a>
            <a class="dropdown-item text-warning" href="<%= new_user_registration_path %>">Registro</a>
          <% end %>
        </div>
        

      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>